@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containter{
    text-align: center;
    width: 100%;
    height: auto;
}

#quote-box{
  margin-right: 25vw;
  margin-left:25vw;
    font-weight: 800;
  border-radius: 5px;
    background-color: white;
}

#text{
  padding-top:20px;
  margin:0 2vw 0 2vw;
    font-size: 2em;

}

#author{
    font-size: 20px;
    text-align: right;
    margin-right: 2vw;
    margin-top: 10px;

}

.button #new-quote{
    border-radius: 3px;
     color:white;
     font-size: 0.7em;
    padding: 12px 15px 12px 15px;
    margin-left: 20vw;

    opacity: 1;
    &:hover {
      opacity: 0.9;
    }
}

@media only screen and (max-width: 1050px){
button#new-quote {
    margin-left: 0 !important;
}
  
#quote-box{
  margin-right: 10vw;
  margin-left:10vw;

}
}
.button {
    height:50px;
    font-size: 1.3em;
    margin-top:2vh;
    padding: 1em;
   
    overflow:hidden;
}

 a {   
    text-decoration: none;
   border-radius: 10px;
    margin: 0 1vw 0px 0px;
   padding: 12px 25px 12px 25px;
   color:white;

   display: flex;
    align-items: center;
    transition: all .5s;

    &:hover {
      transform: translateY(-0.5rem);
      color: white;
    }

  }

.fa{
    margin-right: 0.5em;
    font-size: 0.8em;
    text-align:inherit;
    transform: translateY(-0.3rem);
  }